body {
    background: linear-gradient(to right, #00364038, #00364038);
    background-attachment: fixed;
}
#page-cont {
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0;
    transition: all 0.2s linear;
}
.aside-header {
    font-size: 1.3rem !important;
}

@media only screen and (max-width: 612px) {
    #page-cont {
        margin-top: 20vh;
    }
}

.no-border {
    border: none !important;
}
.transparent {
    background: transparent !important;
}
.aside-accord-body ul {
    list-style: none;
}
.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}
